Django          4.2.4
django-storages 1.13.2
python-nginx    1.5.7
sqlparse        0.4.4
tzdata          2023.3
whitenoise      6.5.0
matplotlib      3.7.2
music21         9.1.0
gunicorn        21.2.0
asgiref         3.7.2